:root {
  --verdeIsobloco: #01a859;
  --cinzaIsobloco: rgba(114, 115, 118);
  --verdeTexto: #5d8060;
  --cinzaTexto: #797b7d;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  position: relative; /* É necessário definir uma posição */
  z-index: 1;
}

.navbar-logo img {
  max-height: 60px;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-left: 10px;
  /* position: relative; */
}

.navbar-menu li a {
  color: #77886b;
  text-decoration: none;
  padding: 5px;
  transition: 0.2s;
  font-size: 14px;
}

.navbar-menu li a:hover {
  color: var(--verdeIsobloco);
}

.burguer {
  display: none;
  color: var(--verdeIsobloco);
  scale: 1.5;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner img {
  width: 100%;
}

#banner_mobile {
  display: none;
}

.title {
  color: var(--verdeTexto);
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
  font-weight: 700;
}

.content {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.titleCardsContainer {
  color: var(--verdeTexto);
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
}

.cardsContainer {
  display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
  height: 23rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 1rem 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.cardLink {
  text-decoration: none;
  color: black;
}

.cardHeader {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cinzaTexto);

}

.cardImage {
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImage img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardFooter {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardFooter a {
  margin-left: 0.2rem;
  color: var(--cinzaTexto);
}

footer {
  background-color: #373131;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.footer-text {
  color: #9e9f9f;
}

footer img {
  max-height: 60px;
}

@media (max-width: 440px) {
  .container {
    align-items: center;
  }

  .navbar {
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
  }

  .navbar-logo {
    margin: 5%;
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .burguer {
    width: 20%;
    display: flex;
    justify-content: space-around;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
  }

  .navbar-menu.show {
    display: flex;
  }

  .navbar-menu li {
    margin-left: 0px;
    margin: 2px;
  }

  .banner {
    margin-bottom: 0.5rem;
  }

  #banner_mobile {
    display: flex;
    width: 100%;
  }

  #banner_desktop {
    display: none;
  }

  .title {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
  }

  .slider {
    overflow: hidden;
    overflow-x: scroll;
  }

  .titleCardsContainer {
    font-size: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
  }

  .cardsContainer {
    margin-left: 0;
    justify-content: center;
    flex-wrap: nowrap;
    width: fit-content;
    transition: transform 0.3s ease-in-out;
  }

  .card {
    margin: 1rem;
  }
}
