:root {
  --verdeIsobloco: #01a859;
  --cinzaIsobloco: rgba(114, 115, 118);
  --verdeTexto: #5d8060;
  --cinzaTexto: #797b7d;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navbar {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  position: relative; /* É necessário definir uma posição */
  z-index: 1;
}

.navbar-logo img {
  max-height: 60px;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-left: 10px;
  /* position: relative; */
}

.navbar-menu li a {
  color: #77886b;
  text-decoration: none;
  padding: 5px;
  transition: 0.2s;
  font-size: 14px;
}

.navbar-menu li a:hover {
  color: var(--verdeIsobloco);
}

.burguer {
  display: none;
  color: var(--verdeIsobloco);
  scale: 1.5;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.content {
  width: 90%;
  margin: 2rem 0 2rem 5rem;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
}

h1 {
  font-weight: 500;
  color: var(--cinzaTexto);
  display: flex;
}

h2 {
  font-size: 1.3em;
}

b {
  font-weight: 700;
  color: var(--verdeIsobloco);
  display: flex;
  align-items: center;
}

.green {
  color: var(--verdeIsobloco);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem 0;
  width: 27rem;
}

.btn {
  background-color: #fff;
  color: var(--cinzaTexto);
  width: 12rem;
  height: 4rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.2s;
  font-size: x-large;
}

.btn:hover {
  background-color: var(--verdeIsobloco);
  color: #fff;
}

.btn:active {
  transform: scale(0.9);
}

.vedacao {
  display: none;
}

.estrutural {
  display: block;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 5rem;
}

.slider {
  margin: 0 auto;
  width: 40rem;
  height: 30rem;
  overflow: hidden;
  margin-left: 10rem;
}

.slides {
  width: 500%;
  height: 30rem;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.slide img {
  max-width: 50rem;
  max-height: 30rem;
}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20rem;
}

.image img {
  max-width: 20rem;
  height: 100%;
}

#imagemEstrutural {
  display: flex;
}

.photo-slider {
  display: none;
}

.textSection {
  width: 35%;
  height: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  scale: 1.1;
}

.textSection ul {
  list-style: circle;
  margin: 1rem;
}

.textSection ul span {
  color: var(--verdeIsobloco);
  scale: 0.5;
  margin-right: -0.2rem;
}

.textSection ul li {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.textSection ul li span {
  margin-right: 0.5rem;
  scale: 1;
}

.videoCarroussel {
  width: 60%;
  height: 30rem;
}

.video {
  position: relative;
  width: 100%;
  max-width: 560px;
  margin: 2rem;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.table p {
  width: 47%;
  border: 1px solid var(--cinzaIsobloco);
  padding: 5px;
}

.download {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#downloadIcon {
  scale: 3;
  padding: 2rem;
}

.kitImg {
  width: 60%;
  display: flex;
  justify-content: center;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--verdeIsobloco);
  margin: 10px 0;
}

.version {
  margin: 1rem auto;
  color: var(--cinzaTexto);
}

footer {
  background-color: #373131;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.footer-text {
  color: #9e9f9f;
}

footer img {
  max-height: 60px;
}


@media (max-width: 768px) {
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .container {
    flex-direction: row;
  }

  .content {
    margin: 0;
  }

  .title {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    scale: 0.9;
  }

  .buttons {
    margin: 1rem 0 1rem 0;
    width: 100%;
  }

  .btn {
    width: 11rem;
  }

  section {
    flex-direction: column;
    margin-bottom: 0;
  }

  .slider {
    display: none;
  }

  .image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20rem;
  }

  .image img {
    max-width: 20rem;
    height: 100%;
  }

  .photo-slider {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    height: 20rem;
  }

  .photo-slider-content {
    display: none;
  }

  .photo-slider-content img {
    max-width: 50%;
    max-height: 20rem;
    object-fit: scale-down;
    flex-shrink: 0;
    /* margin-right: 1rem; */
  }

  .textSection {
    width: 80%;
    scale: 1;
  }

  .videoCarroussel {
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  #fichaTecnica {
    width: 100%;
    /* height: 30rem; */
    margin-bottom: 2rem;
  }

  #fichaTecnica h2 {
    width: 100%;
    justify-content: center;
    scale: 0.9;
  }
  .table {
    width: 100%;
    justify-content: center;
    margin: 1rem 0;
  }

  .table p {
    width: 40%;
  }

  .kitImg {
    width: 100%;
    justify-content: center;
  }

  .kitImg img {
    width: 80%;
    margin-top: -10%;
  }

  #composicaoKit {
    width: 100%;
    margin: 1rem 0;
  }

  #composicaoKit h2 {
    width: 100%;
    justify-content: center;
    scale: 0.8;
  }
}

@media (max-width: 440px) {
  .container {
    align-items: center;
  }

  .navbar {
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
  }

  .navbar-logo {
    margin: 5%;
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .burguer {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
  }

  .navbar-menu.show {
    display: flex;
  }

  .navbar-menu li {
    margin-left: 0px;
    margin: 2px;
  }

  .title {
    max-width: 100%;
  }

  .buttons {
    scale: 0.8;
  }
}
