:root {
  --verdeIsobloco: #01a859;
  --cinzaIsobloco: 114, 115, 118;
}

@font-face {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  src: url(/src/fonts/Helvetica-Neue-Font/HelveticaNeueMediumExtended.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navbar {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.navbar-logo img {
  max-height: 60px;
}

nav .navbar-logo {
  display: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-left: 10px;
  position: relative;
}

.navbar-menu li a {
  color: #77886b;
  text-decoration: none;
  padding: 5px;
  transition: 0.2s;
  font-size: 14px;
}

.navbar-menu li a:hover {
  color: var(--verdeIsobloco);
}

.burguer {
  display: none;
  color: var(--verdeIsobloco);
  scale: 1.5;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.product {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 5rem;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.product-video{
  position: relative;
  width: 100%;
  max-width: 560px;
  margin: 2rem;
}



.product img {
  max-width: 60%;
  margin-bottom: 2rem;
}

.product-information {
  min-width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 5rem;
  margin-left: 0;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.product-information img {
  margin: 2rem;
  width: 100%;

}

.product-information p {
  margin: 2rem;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--verdeIsobloco);
  margin: 10px 0;
}

footer {
  background-color: #373131;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.footer-text {
  color: #9e9f9f;
}

footer img {
  max-height: 60px;
}

@media (max-width: 768px) {

  .content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

  .product {
    margin: 1rem;
  max-width: 100%;
  }

  .product-information {
    margin: 1rem;
    margin-top: 0;
  }

}

@media (max-width: 440px) {
  .navbar {
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .navbar-logo {
    margin: 5%;
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .burguer {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
  }

  .navbar-menu.show {
    display: flex;
  }

  .navbar-menu li {
    margin-left: 0px;
    margin: 2px;
  }
}

